.header{
  display: flex;
  justify-content: space-between;
  margin: 10px ;
  border: 1px solid rgb(21, 11, 11);
  background-color: black;
  height: 150px
}

.navItems>ul{
  list-style-type: none;
  display: flex;
  
}
.link{
  color: white;
  margin-right: 10px;
  padding: 20px 20px;
  text-decoration: none

}
.link1{
  color: white;
  margin-right: 10px;
  padding: 20px 20px;
  text-decoration: none
}
.link2{
  color: white;
  margin-right: 10px;
  padding: 20px 20px;
  text-decoration: none
}
.menu{
  display: flex;
}
.menu>ul{
display: flex;
}

.menuItem>h1{
   position:absolute;
   right: 950px;
   margin-top: auto; 
}

.menuItem>ul>li{
  display: flex;
  margin: 50px;
  padding: 12px;
  height : 100px;
  width : 200px;
  gap: 10px;
  border-bottom: 10px solid #d4d5d9;
  overflow: hidden;
}

.img_right>img{ 
  padding: 5px;
  height : 80px ;
  margin : 5px;
  text-align: left;
  
  }
 

.navItems>ul>li{
  display: flex;
  margin-right: 10px;
  color: white
}

.title{
  padding: 10px;
}

.logo>a>img{
  border-radius: 40px;
  padding: 5px;
  height : 100px
}

.card{
  width : 200px;
  padding : 10px;
  margin: 10px;
}

.card:hover {
  outline: 0px solid transparent;
  padding: 20px 20px;
  border: 2px solid #0a0e1172;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card>img{
  width : 100%;
}
.resturant-list{
  display: flex;
  flex-wrap: wrap;
}


.w80 {
   width: 80%;
}
.shimmer-card {
  border: 2px solid #fff;
  box-shadow:0px 0px 10px 0 #a9a9a9;
  padding: 30px 40px;
  width: 200px;
  margin: 50px auto;
  display:flex
}
.wrapper {
  width: 0px;
  animation: fullView 0.5s forwards cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.profilePic {
  height:100px;
  width: 100px;
   margin-left: auto;
  margin-right: auto;
}
.comment {
  height: 10px;
  background: #777;
  margin-top: 20px;
}

@keyframes fullView {
  100% {
    width: 100%;
  }
}


.animate {
   animation : shimmer 2s infinite linear;
   background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}