/* Font family */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/* Select all CSS Start*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Calibri, sans-serif;
  overflow-x: hidden;
}

/* all link CSS */
a {
  text-decoration: none;
  color: inherit;
}
/* Select all CSS End*/

/* create global variable with :root selector Start*/
:root {
  --header-bg-color: rgb(255, 255, 255);
  --footer-bg-color: rgb(255, 255, 255);
  --body-bg-color: #e3e3e3;
  --input-bg: #f2f2f2;
  --input-bg-focus: #dbdbdb;
  --text-color: #000;
  --light-text-color: #545454;
  --light-text-title: #353535;
  --light-green: #00ad1d;
  --dark-green: #016034;
  --orange: #d97919;
  --light-orange: #ffaf60;
  --dark-orange: #c26100;
  --x-dark-orange: rgb(157, 42, 1);
  --light-red: rgb(236, 56, 56);
  --white: #fff;
  --light-white-text: #eaeaea;
  --light-black: rgb(23, 23, 23);
  --light-blue: #0463ac;
  --dark-blue: #070062;
}
/* create global variable with :root selector End*/

/* Header CSS Start*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  background-color: var(--header-bg-color);
  border-radius: 5px;
  box-shadow: -2px 7px 5px -6px rgba(180, 172, 172, 0.61);
  color: var(--light-text-color);
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow-y: hidden;
}

.logo{
  padding: 10px 0 10px 15px;
  width: 100px;
}

/* nav items CSS start*/
.nav-items > ul {
  list-style-type: none;
  display: flex;
  margin-right: 50px;
  align-items: center;
  justify-content: space-between;
}

.nav-items > ul> li {
  padding: 10px;
}
 
.home{
  align-items: center;
  padding: 10px;
}
.about{
  align-items: center;
  padding: 10px;
}
.contact{
  align-items: center;
  padding: 10px;
}
.instamart{
  align-items: center;
  padding: 10px;
}
.cart{
  align-items: center;
  padding: 10px;
}

.home:hover {
  background-color: var(--orange);
  border-radius: 5px;
  cursor: pointer;
  color: var(--white);
}

.about:hover {
  background-color: var(--orange);
  border-radius: 5px;
  cursor: pointer;
  color: var(--white);
}

.contact:hover {
  background-color: var(--orange);
  border-radius: 5px;
  cursor: pointer;
  color: var(--white);
}

.instamart:hover {
  background-color: var(--orange);
  border-radius: 5px;
  cursor: pointer;
  color: var(--white);
}
 .nav-items > ul > li:hover {
  background-color: var(--orange);
  border-radius: 5px;
  cursor: pointer;
  color: var(--white);
}

.nav-items > ul > li .logout-btn,
.nav-items > ul > li .login-btn {
  color: var(--light-text-color);
  border: none;
  border-radius: 10px;
  background-color: Transparent;
  font-size: inherit;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
}

.nav-items > ul > li .logout-btn:hover,
.nav-items > ul > li .login-btn:hover{
  color: var(--white);
} 


/* nav items CSS End*/
/* Header CSS End*/


/* Body CSS Start*/

/* search container CSS Start*/

/* search container CSS Start*/
.search-container {
  margin: 100px auto 20px;
  text-align: center;
  max-width: 100%;
  position: relative;
}

.search-container .search-input {
  width: 40%;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 15px 14px 20px;
  border: 1px solid #aabcca;
  border-right: 0;
  color: var(--text-color);
  outline: none;
}

.search-container .search-btn {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: orange;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  padding: 15px 22px;
  margin-left: -4px;
  cursor: pointer;
  border: none;
  outline: none;
}
.search-container .search-btn:hover {
  background-color: green;
}

/* Search error message css Start*/
.error-container {
  text-align: center;
  font-size: large;
  margin: 20px 0;
  font-weight: bold;
  color: rgba(21, 1, 1, 0.708);
}
/* Search error message css End*/
/* search container CSS End*/

/* Restaurant cards CSS Start*/

.resturant-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}
.card {
  width: 280px;
  border-radius: 5px;
  box-shadow: -1px 5px 10px 5px rgba(112, 112, 112, 0.2);
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
}

.card > img {
  width: 100%;
  border-radius: 10px;
}

.card > h5 {
  font-weight: lighter;
}


.card > h3{
  color: var(--light-text-title)
}



.card > span {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  text-align: center;
} 


.card > span > h3 {
  font-weight: lighter;
  font-size: 14px;
  padding: 0 2px 0;
  margin-top: 10px;
  color: var(--light-text-title)
}

.card > span > h3:first-child {
  align-items: center;
  background-color: var(--light-green);
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin-top: 5px;
}

.card > span > h3:first-child .fa-star {
  font-size: 10px;
  padding: 2px 5px 3px 0;
} 

/* Restaurant cards CSS End*/


/* Restaurant Menu CSS Start */


.restaurant-menu {
  margin-top: 80px;
  min-height: 80vh;
  width: auto;
}
.restaurant-summary{
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  width: auto;
  border-radius: 5px;
  box-shadow: -1px 5px 10px 5px rgba(112, 112, 112, 0.2);
  padding: 10px;
  background-color:rgb(12, 0, 0);
  columns: var(--white);
  overflow-y: hidden;
}
.restaurant-img{
  width: 350px;
  height: 230px;
  border-radius: 5px;
  padding: 20px;
  margin-right: 150px;

}
.restaurant-summary-deatils{
  display: flex;
  justify-content: space-between;
  color: var(--light-white-text);
  margin-right: 10px;
  flex-direction: column;
}

.restaurant-summary-deatils > span {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  text-align: center;
} 

.restaurant-summary-deatils > span > h3 {
  font-weight: lighter;
  font-size: 15px;
  padding: 0 2px 0;
  margin-top: 10px;
  color: var(--light-white-text)
}

.restaurant-summary-deatils > span > h3:first-child {
  align-items: center;
  background-color: var(--light-green);
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin-top: 5px;
}

.restaurant-summary-deatils > span > h3:first-child .fa-star {
  font-size: 10px;
  padding: 2px 5px 3px 0;
} 

.restaurant-rating-slash{
  margin: 0px 30px;
}

/* Menu Items list */

.restaurant-menu-content {
  display: flex;
  justify-content: center;
}

.menu-items-container {
  margin-top: 30px;
  width: 850px;
}
 .menu-title-wrap {
  padding: 20px;
}
.menu-item-length{
  margin-top: 10px;
  color: rgba(40, 44, 63, 0.45);
  font-size: 1rem;
}

.menu-title-wrap .menu-title{
  color: var(--light-text-color);
}


.menu-items-list {
  display: flex;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}


.menu-item {
  justify-content: space-between;
  border-bottom: rgba(40, 44, 63, 0.45) 0.5px solid;
  flex-wrap: wrap;

}

.menu-item-details{
 
  flex-direction: column;
  align-self: flex-start;
  overflow: hidden;
  height: auto;
}


.item-title {
  width: auto;
  color: var(--light-text-color);
}
.item-desc {
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40, 44, 63, 0.45);
  width: inherit;
  letter-spacing: -0.3px;
  font-size: 1rem;
}
.item-cost {
  margin-top: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #3e4152;
  width: inherit;
}

.menu-img-wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
width: auto;
overflow: hidden;
height: auto;
}
.menu-item-img {
height: 100px;
width: 100px;
border-radius: 5px;
}
.add-btn {
background-color: var(--orange);
color: var(--text-color);
align-items: center;
padding: 10px 25px;
cursor: pointer;
outline: none;
border-color: var(--dark-orange);
margin: 10px;
border-radius: 5px;
}

/* 
.menu{
  display: flex;
}
.menu>ul{
display: flex;
}
.menuItem>h1{
  display: flex;
  position:relative; 
  left:90px; 
  top:2px
  
  }

.menuItem>ul>li{
  display: flex;
  margin: 50px;
  padding: 12px;
  height : 100px;
  width : 200px;
  gap: 10px;
  border-bottom: 10px solid #d4d5d9;
  
}

.img_right>img{ 
  padding: 5px;
  height : 80px ;
  margin : 5px;
  text-align: left;
  
  }


.title{
  padding: 10px;
}


.w80 {
   width: 80%;
} */





/* Shimmer Card starts */
.shimmer-card {
  border: 2px solid #fff;
  box-shadow:0px 0px 10px 0 #a9a9a9;
  padding: 30px 40px;
  width: 200px;
  margin: 50px auto;
  display:flex
}
.wrapper {
  width: 0px;
  animation: fullView 0.5s forwards cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.profilePic {
  height:100px;
  width: 100px;
   margin-left: auto;
  margin-right: auto;
}
.comment {
  height: 10px;
  background: #777;
  margin-top: 20px;
}

@keyframes fullView {
  100% {
    width: 100%;
  }
}


.animate {
   animation : shimmer 2s infinite linear;
   background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}


